*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: white;
}
/* scroll button*/
#progress{
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 45px;
    height: 45px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0,0,10px rgb(225, 222, 216);
    cursor: pointer;
    z-index: 9999;
}
#progress-value{
    display: block;
    height: calc(98% - 3px);
    width: calc(98% - 3px);
    background-color: rgb(255, 172, 57);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 24px;
    z-index: 9999;
}
/*styling top-footer */
.top-footer{
    background: rgb(0, 0, 0);
    height: 40px;
    z-index: 9999;
    position: relative;
}
.top-footer .box{
    position: relative;
    padding: 10px 0;
    display: flex;
    
}
.top-footer .box .icon{
    min-width: 60px;
    height: 15px;
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.top-footer .box .text-1{
    display: flex;
    font-size: 14px;
    color: #ffffff;
    height: 10px;
    text-overflow: ellipsis;
}
.top-footer .box .text-1 a{
    color: white;
}
.top-footer .box .text-1 a:hover{
    color: #8d9cff;
}
.social-link-list{
    display: flex;
    margin-left: 650px;
    align-items: center;
    gap: 20px;
}
.social-link-list .social-link{
    color: bisque;
    font-size: 16px;
}
.social-link-list .social-link:hover{
    color: orange;
}
/*styliing the header*/
header{
    width: 100%;
    min-height: 60px;
    background-color: #3d56ff;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    position: sticky;
    top: 0;
}
header .logo{
    width: 90px;
}
.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px; 
    justify-content: center; 
    background-color: #3d56ff; 
    padding: 15px;

}
.logo-text {
    font-size: 16px;
    color: #000000;
    top: 30px;
    font-weight: 550;
}
header ul{
    position: relative;
}
header ul li{
    position: relative;
    list-style: none;
    float: left;
}
header ul li a{
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 20px 25px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}
header ul li a:hover{
    background: rgb(255, 254, 253);
    color: black;
}
/* Dropdown styles */
.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    margin-top: 6px;  
    font-family: inherit;
    color: #fff;
}
.dropdown .dropbtn:hover{
    background: rgb(255, 254, 253);
    color: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3d56ff;
    min-width: 160px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    z-index: 1000;
}
.dropdown-content li a {
    padding: 10px;
    color: #ffffff;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* contact section styling */
.contact-section{
    padding: 90px 0;
    background: url(images/bg.png);
    background-size: cover;
    background-position: center center;
}
.contact-section .section-title {
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    color: #000000;
}
.contact-section .open-text{
    font-weight: 500;
    color: #000000;
    font-size: 19px;
    line-height: 30px;
    margin: 50px;
    text-align: center;
}
.contract{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}
.contract .Contactinfo{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.contract .Contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contract .Contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: rgb(30, 24, 108);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contract .Contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000000;
    flex-direction: column;
    font-weight: 300;
}
.contract .Contactinfo .box .text h3{
    font-weight: bolder;
    color: rgb(224, 94, 24);
    padding-top: 5px;
}
.Contactform{
    width: 40%;
    padding: 40px;
    background: rgba(161, 132, 114, 0.671);
    border-radius: 5px;
}
.Contactform h2{
    font-size: 30px;
    color: #000000;
    font-weight: 450;
}
.Contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.Contactform .inputbox input,
.Contactform .inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.Contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.Contactform .inputbox input:focus ~ span,
.Contactform .inputbox input:valid ~ span,
.Contactform .inputbox textarea:focus ~ span,
.Contactform .inputbox textarea:valid ~ span
{
    color: black;
    font-size: 14px;
    transform: translateY(-20px);
}
.Contactform .inputbox input[type="submit"]
{
    width: 100px;
    background: rgb(30, 24, 108);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgb(5, 5, 5);
    transition: 0.3s ease;
}
.Contactform .inputbox input:hover[type="submit"]
{
    color: rgb(10, 10, 10);
    background: transparent;
}
/* styling map */
.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 45.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/* styling footer */
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background: rgb(0, 0, 0);
    padding: 50px 20px;
}
ul{
    list-style: none;
    text-align: left;
    
}
.list{
    padding: 7px;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 10px;
    position: relative;
}
.list li::before{
    content: "";
    position: absolute;
    transform: translate(-50px -50px);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #7073ff;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.footer-col{
    width: 25%;
    padding: 7px;
}
.footer-col h2 {
    position: relative; /* Required for ::before to position properly */
    font-size: 23px;
    margin-bottom: 15px;
    text-align: center;
    color: #ffffffb0;
}
.footer-col h2::before {
    content: "";
    position: absolute;
    left: 50%; /* Center the line */
    transform: translateX(-50%);
    bottom: -6px;
    background-color: #c7b8b8;
    height: 2px;
    width: 40px;
}
.footer-col p{
    color: #fff;
    width: 260px;
    margin: auto;
    padding: 10px 3px;
 }
.social-icons{
    text-align: center;
    padding: 7px;
 }
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
   
 }
.social-icons i{
    color: white;
    font-size: 20px;
 }
a{
    text-decoration: none;
    color: #ffffff;
 }
a:hover{
    color: #f87800;
 }
.social-icons i:hover{
    color: #f87800;
 }
.bottom-bar{
    text-align: center;
    padding: 10px 0;
    margin: auto;
    margin-top: 50px;
 }
.bottom-bar p{
    color: #ffffff;
    margin: auto;
    font-size: 18px;
    padding: 7px;
}
/*styling bottom-footer*/
.bottom-footer{
    text-align: center;
    background-color: #4e4d4d;
}
.craft{
    padding: 6px ;
}
.craft p{
    color: #fff;
}
.craft a{
    color: #ff7700;
}
.craft a:hover{
    color: rgb(255, 255, 255);
}
@media (max-width: 1115px){
    .social-link-list{
        margin-left: 450px;
    }
    header .logo{
        width: 85px;
        
    }
    .logo-text {
        font-size: 12px;
        color: #000000;
        top: 30px;
    }
    header ul li a{
        font-size: 15px;
        padding: 15px 25px;
    }
    .dropdown .dropbtn {
        font-size: 16px;
        padding: 14px 16px;
        margin-top: 1px;  
        font-family: inherit;
        color: #fff;
    }
}
@media (max-width: 1050px){
    .social-link-list{
        margin-left: 400px;
    }
    header ul li a{
        font-size: 16px;
        padding: 10px 15px;
    }
    .dropdown .dropbtn {
        font-size: 16px;
        padding: 10px 14px;
        margin-top: 1px;
        font-family: inherit;
        color: #fff;
    }
}
@media (max-width: 1000px){
    .social-link-list{
        margin-left: 340px;
    }
    header ul li a{
        font-size: 16px;
        padding: 10px 15px;
    }
    .dropdown .dropbtn {
        font-size: 16px;
        padding: 10px 14px;
        margin-top: 1px;
        font-family: inherit;
        color: #fff;
    }
}
@media (max-width: 950px){
    .social-link-list{
        margin-left: 240px;
    }
    header ul li a{
        font-size: 16px;
        padding: 5px 10px;
    }
    .dropdown .dropbtn {
        font-size: 16px;
        padding: 5px 8px;
        margin-top: 0px;
        font-family: inherit;
        color: #fff;
    }
}
@media (max-width: 900px){
    .top-footer {
        display: none;
    }
    header{
        padding: 10px 20px;
    }
    header .logo{
        width: 75px;
    }
    .logo-text {
        font-size: 12px;
        color: #000000;
        top: 30px;
    }
    header nav{
        position: absolute;
        width: 50%;
        top: 105px;
        left: 0;
        background: #3d56ff;
        display: none;
        z-index: 1000;
    }
    header.active nav{
        display: initial;
    }
    header nav ul li{
        width: 100%;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuToggle::before{
        content: '';
        position: absolute;
        width: 70%;
        height: 1.5px;
        background: white;
        transform: translateY(-12px);
        box-shadow: 0 12px white;
    }
    .menuToggle::after{
        content: '';
        position: absolute;
        width: 70%;
        height: 1.5px;
        background: white;
        transform: translateY(12px);
    }
    header.active .menuToggle::before{
        transform: rotate(45deg);
        box-shadow: 0 0 white;
    }
    header.active .menuToggle::after{
        transform: rotate(315deg);
    }
    .dropdown {
        position: static;
    }
    .dropdown-content {
        position: static;
        box-shadow: none;
        background-color: #3d56ff;
        margin-left: 0px;
    }
    .dropdown:hover .dropdown-content {
        display: inline-block;

    }
    .dropdown-content li a {
        padding: 12px 16px;
        color: white;
        border-top: 1px solid #fff;
    }
    .dropdown .dropbtn {
        padding: 10px;
    }
    .map-container{
       padding-bottom: 55.25%; 
    }
    .contact-section {
        padding: 40px 4%;
    }
    .contract{
        display: inline;
    }
    .contract .contact-info{
        margin-bottom: 40px;
        font-family: 17px;
    }
    .contract .contact-info{
        width: 100%;
    }
    .Contactform{
        width: 100%;   
    }
    .contact-section .open-text{
        font-size: 19px;
    }
    footer{
        flex-direction: column;
    }
    .footer-col {
        width: 100%;
    }
    .footer-col p {
        width: 100%;
    }
    .footer-col h2 {
        text-align: left;
    }
    .footer-col h2::before {
        left: 5%; /* Center the line */
    }
    .social-icons{
        text-align: left;
        padding: 7px;
    }
    .list li{
        text-align: left;
        border-bottom: 1px solid #ffffff79;
    }
    .list li::before{
        display: none;
    }
}    
@media (max-width: 600px){
    .map-container{
       padding-bottom: 100.25%; 
    }
    .footer-col h2::before {
        left: 10%; /* Center the line */
    }
}